<!doctype html>
<html lang="de">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>LOcash</title>
    <link href="https://cash.c3loc.de/strichliste/bootstrap.min.css" rel="stylesheet">
  </head>
  <body class="p-4">
    <script src="https://cash.c3loc.de/strichliste/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">LOcash</a>
        <div class="collapse navbar-collapse">
{% if app_settings.show_manage_menu %}
          <ul class="navbar-nav me-auto">
            <li class="nav-item"><a class="nav-link" href="{% url 'manage' %}">Management</a></li>
          </ul>
{% endif %}
        </div>
      </div>
    </nav>
    <div class="">
      {% if messages %}
        {% for msg in messages %}
          <div class="alert alert-{{ msg.tags }}">{{ msg }}</div>
        {% endfor %}
      {% endif %}
      {% block content %}{% endblock %}
    </div>
  </body>
</html>
