{% extends 'shop/base.html' %}
{% block content %}
<div class="row justify-content-end">
  <div class="col-12 col-lg-8">
    <h1 class="mb-4">Alle User</h1>
  </div>
  <div class="col col-lg-4">
    <form method="post" class="mb-4">{% csrf_token %}
      <div class="input-group">
        <input id="user_search" name="q" type="text" class="form-control" placeholder="12-stellige User ID" value="{{ q }}">
        <button class="btn btn-primary" type="submit">Öffnen</button>
      </div>
    </form>
  </div>
</div>


<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
  {% for u in users %}
  <div class="col">
    <a href="{% url 'user_detail' u.id12 %}"
       class="text-decoration-none">
      <div class="card shadow-sm p-4 h-100"
           style="border-radius: 18px; transition: 0.15s;">

        <h3 class="fw-bold">{{ u.display_name }}</h3>
        <div class="text-muted">ID: {{ u.id12 }}</div>

{% if app_settings.show_balance_in_user_list %}
        <div class="mt-3 fs-4 fw-bold {% if u.balance < 0 %}text-danger{% else %}text-success{% endif %}">
          {{ u.balance }}€
        </div>
{% endif %}

        {% if u.last_tx %}
        <div class="mt-2 text-muted small">
          Zuletzt aktiv: {{ u.last_tx|date:"d.m.Y H:i" }}
        </div>
        {% else %}
        <div class="mt-2 text-muted small">Keine Transaktionen</div>
        {% endif %}
      </div>
    </a>
  </div>
  {% endfor %}

</div>

<script>
  document.getElementById('user_search').focus();
</script>
{% endblock %}
